{% extends "layouts/master.twig" %}

{% block styles %}

    <!-- datatable -->
    <link type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet"/>

{% endblock %}

{% block content %}
    <!-- Static navbar -->
    
    <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
        <div class="jumbotron">
            <h1 class="display-3">Hola, bienvenido!</h1>
            <p class="lead">Este sistema te permite administrar la informacion de sus apartamentos y sus visitas.</p>
            <hr class="my-4">
            <p>Este sitio se adapta a la web y a los dispositivos moviles para su comodidad y facilidad de uso.</p>
          </div>
    </div>

{% endblock %}
{% block scrips %}

    <!-- datatable --> 
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <!-- Custom -->
    <script type="text/javascript">

    </script>

{% endblock %}